<div class="viewblock">
  <div class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <%= link_to "Edit", ems.edit_ems_config_path, :class => "btn" %>
      </div>
    </div>
    <div class="default-padding">
      <h1> Emergency Settings </h1>
    </div>
  </div>
  <div class="viewblock-cont">
    <div class="default-padding">
      <p>
        <b> Emergency Template: </b> 
        <%= @ems_config.template_id %>
      </p>
      <p>
        <b> Emergency Feed: </b>
        <%= @ems_config.feed_id %>
      </p>
    </div>
  </div>
</div>
