<div class="viewblock">
  <div class="viewblock-header">
    <div class="default-padding">
      <h1> Edit Emergency Broadcast Plugin Settings </h1>
    </div>
  </div>
  <div class="viewblock-cont">
    <div class="default-padding">
      <%= render :partial => "form" %>
    </div>
  </div>
</div>