<div class="viewblock">
  <div class="viewblock-header">
    <div class="default-padding">
      <h1> Emergency Broadcast Plugin Settings </h1>
    </div>
  </div>
  <div class="viewblock-cont">
    <div class="default-padding">
      <div class="row">
        <div class="span3">
          <b>Emergency Template: </b> 
        </div>
        <div class="span2">
          <%= @ems_config.template_id %>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <b>Emergency Feed: </b>
        </div>
        <div class="span2">
          <%= @ems_config.feed_id %>
        </div>
      </div>
    </div>
  </div>
</div>