<div class="viewblock-header_right">
  <div class="button-padding">
    <%= link_to 'Edit', edit_alert_path(@alert), :class => 'btn' %>
    <%= link_to 'Back', alerts_path, :class => 'btn' %>
  </div>
</div>
<div class="default-padding">
  <h1> Emergency Broadcast </h1>
</div>