<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <%= link_to 'Back', alerts_path, :class => 'btn' %>
      </div>
    </div>
    <h1 class="default-padding">New Emegency Broadcast Alert</h1>
  </header>
  <div class="viewblock-cont">
    <%= render 'form' %>
  </div>
</section>



