<section class="viewblock">
  <header class="viewblock-header">
    <%= render :partial => "show_header" %>
  </header>
  <div class="viewblock-cont">
    <%= render :partial => "show_body" %>
  </div>
</section>
