<div class="page-header center">
  <h1>Emergency Alert</h1>
</div>
<br />
<div class="content-ticker">
  <p class="quotemarks-top"><i class="icon-quote-left icon-large muted"></i></p>
  <p><%= content.config['alert'].html_safe %></p>
  <p class="quotemarks-bottom"><i class="icon-quote-right icon-large muted"></i></p>
</div>