<!DOCTYPE html>
<html>
<head>
  <title>ConcertoEmergencyBroadcast</title>
  <%= stylesheet_link_tag    "concerto_emergency_broadcast/application", media: "all" %>
  <%= javascript_include_tag "concerto_emergency_broadcast/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
